<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple EC Web - Goods Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
</head>
<body>
<h1>Simple EC Web</h1>
<nav>
    <h3>Navigation</h3>
    <ul>
        <li th:unless="${account}"><a th:href="@{/login}">ログイン</a></li>
    </ul>
</nav>
<div th:if="${account}">
    <h3>Current User</h3>
    <ul>
        <li th:text="${account.email}"></li>
    </ul>
</div>
<h3>Goods</h3>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>価格</th>
            <th>個数</th>
            <th>-</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="goodsForm : ${goodsForms}" th:object="${goodsForm}">
            <td th:text="*{id}">1</td>
            <td ><a th:href="@{|/goods/*{id}|}" th:text="*{name}">グッズ1</a></td>
            <td th:text="*{price}">グッズ1</td>
            <td>
                <input type="text" id="quantity" name="quantity" th:form="|add_*{id}|" th:value="*{quantity}" />
            </td>
            <td>
                <form th:id="|add_*{id}|" th:action="@{/goods/add}" method="post">
                    <input type="hidden" id="id" name="id" th:value="*{id}" />
                    <input type="hidden" id="name" name="name" th:value="*{name}" />
                    <input type="hidden" id="price" name="price" th:value="*{price}" />
                    <input type="submit" value="カートに追加" />
                </form>
            </td>
        </tr>
    </tbody>
</table>
<h3>Cart</h3>
<table>
    <thead>
    <tr>
        <th>名前</th>
        <th>個数</th>
        <th>金額</th>
        <th>カートから削除</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cartItem : ${cart.cartItems}" th:object="${cartItem}">
        <td th:text="*{goods.name}"></td>
        <td th:text="*{quantity}"></td>
        <td th:text="*{goods.price} * *{quantity}"></td>
        <td>
            <form th:action="@{/goods/remove}" method="post">
                <input type="hidden" id="goodsid" name="id" th:value="*{goods.id}" />
                <input type="submit" value="カートから削除" />
            </form>
        </td>
    </tr>
    <tr>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
    </tr>
    <tr>
        <td>合計金額</td>
        <td>-</td>
        <td th:text="${cart.totalAmount}"></td>
        <td>
            <form th:action="@{/goods/clear}" method="post">
                <input type="submit" value="カートをクリア" />
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>